/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilos de las secciones */
section {
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#p1 {
  color:  blue;
  font-weight: bold;
}
#p2 {
  color: red;
  font-weight: bold;
  }
